*{
	font-family: 'Montserrat', sans-serif;
	width: auto;
	margin: 0px;
}


/*+++++++++++++++++++++++++++++++++ Top Button ===============================*/

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;

}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}



/* =========================================== header background ======================================*/
.cont {
	height: 100vh;
	background: rgb(145,37,188);
	background: -moz-linear-gradient(-45deg,  rgb(145,37,188) 1%, rgb(125,185,232) 100%, rgb(41,137,216) 100%, rgb(32,124,202) 100%);
	background: -webkit-linear-gradient(-45deg,  rgb(145,37,188) 1%,rgb(125,185,232) 100%,rgb(41,137,216) 100%,rgb(32,124,202) 100%);
	background: linear-gradient(135deg,  rgb(145,37,188) 1%,rgb(125,185,232) 100%,rgb(41,137,216) 100%,rgb(32,124,202) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9125bc', endColorstr='#207cca',GradientType=1 );


}

@media (max-width:500px){

	.cont {
		height: 420px;
		width: 100%;
	}

}
 /*======================================+++++ header design ============================================== */

											

.cont .header{
	
	float: right;
	height: 100vh;


}





.cont .header ul li{
	
	float: left;
	display: inline-block;
	padding: 5px;	
	margin-right: 50px;
	margin-top: 40px;
	font-weight: 600px;
	font-size: 18px;

}


.cont .header ul li a{
	text-decoration: none;
	color: #fff;
	transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    
}

.cont .header ul li a:hover , a:focus , a:active{
	text-decoration: none;
	color: #000;
	transition: color 0.5s, background-color 0.5s;
}

.cont .header ul li a::before {
    content: '';
    display: block;
  	position: relative;
    bottom: -30px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right bottom;
    transform: scale(0,1);
    transition: color 0.1s,transform 0.2s ease-out;
}

 .header ul li a:active::before{
	background-color: #fff;
}

 .header ul li a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}


@media (max-width:500px){

.cont .header{
	

}



	.cont .header ul li{
	
	margin-left: -20px;
	display: inline-block;	
	float: none;
	font-size: 8px;
	padding: 5px;
	margin: 0px;
	z-index: 1000;
	margin-bottom: 0px;

}



}



/*===================================== Hero Image/Content +++++++++++++++++++++++++++++++*/

 .cont .bharatiyam span.welcome {

 	position: absolute;
 	z-index: 10;
	margin-top: 200px;
	margin-left: 42%;
	font-size: 35px;
	text-align: center;
	color: #fff;
}

#home > div.bharatiyam > span.img > img{

	position: absolute;
 	z-index: 10;
 	height: 35%;
 	width: 35%;
	margin-top: 215px;
	margin-left: 31%;
	padding: 10px;
	

}


#home > div.bharatiyam > span.date {

	position: absolute;
	z-index: 10;
	margin-top: 400px;
	margin-left: 40%;
	padding:15px;
	font-size : 20px;
	color: white;
}

.cont .bharatiyam span.sub{

	position: absolute;
 	z-index: 10;
	margin-top: 450px;
	margin-left: 41%;
	padding: 10px;
	color: #fff;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;

}

.cont .bharatiyam  a.button-1{


	position: absolute;
 	z-index: 10;
	margin-top: 520px;
	margin-left: 43%;
	padding: 0px 15px 0px 15px;
	display: block;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-radius: 3px;
	border-color: #fff;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	

}

.cont .bharatiyam  a.button-1:hover {

	background-color: #fff;
	color :rgba(0, 0, 0, 0.5);
	
}


@media (max-width:500px){

	#home > div.bharatiyam > span.img > img{

	position: absolute;
 	z-index: 10;
 	height: 30%;
 	width: 55%;
	margin-top: 130px;
	margin-left: 21%;
	padding: 10px;
	

}

.cont .bharatiyam span.welcome {

 	position: absolute;
 	z-index: 10;
	margin-top: 100px;
	margin-left: 21%;
	font-size: 30px;
	text-align: center;
	color: #fff;
}

#home > div.bharatiyam > span.date {

	position: absolute;
	z-index: 10;
	margin-top: 200px;
	margin-left: 25%;
	padding:15px;
	font-size : 12px;
	color: white;
}

.cont .bharatiyam span.sub{

	position: absolute;
 	z-index: 10;
	margin-top: 250px;
	margin-left: 20%;
	font-size: 12px;
	padding: 10px;
	color: #fff;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;

}

.cont .bharatiyam  a.button-1{


	position: absolute;
 	z-index: 10;
	margin-top: 310px;
	margin-left: 25%;
	padding: 0px 15px 0px 15px;
	display: block;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-radius: 3px;
	border-color: #fff;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	

}

}


/*===================================== sponsors +++++++++++++++++++++++++++++++*/

.sponsors{

	background-color: #f1f1f1;
	height: 650px;
	width: 100%;
	padding: 50px 10px 50px 10px ;
	text-align: center;

}

.sponsors h1 {


	padding: 10px;
	font-weight: 600px;


}

.sponsors span.title img{

	filter: grayscale(100%);
	padding: 20px;
	transition-delay: 0.1s;
	clear:both;

} 

.sponsors span.title img:hover{

	filter: none; 
	
	

} 

.sponsors .sponsList ul li{

	display: inline-block;
	padding: 15px;

}



.bx-wrapper {
	padding-top: 30px;	
  width: 100%;
  
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;                                            
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
*/
}
.bx-wrapper .bx-viewport {
  height: 189px !important;
}
.bx-wrapper li {
  margin-top: -16px !important;
}




/*===================================== Events +++++++++++++++++++++++++++++++*/

.events {
	padding-bottom: 90px;
	width: 100%;
	min-height: 500px;
	background-color: #fff;
}

.events h1{
	text-align: center;
	padding: 50px 0 50px 0;
}
.mains{
width: 90%;
padding: 1em;
margin: 0 auto;


}

/*===================================== Modals +++++++++++++++++++++++++++++++*/
.desc {
font-size: 15px;
margin:auto;

}

/*===================================== Gallery +++++++++++++++++++++++++++++++*/

.gallery{
	width: 100%;
	height:100vh;
	background-color: #434345;
}

.gallery h1{
	text-align: center;
	padding: 50px 0 50px 0;
	color: #fff;
}

@media (max-width:500px){


	.gallery{

		width: 100%;
		height: 2300px;

	}

}

/*===================================== Team +++++++++++++++++++++++++++++++*/

.team{
	width: 100%;
	height:1150px;
	background-color: #eeeeee;

}

.team h1{
	margin :0px;
	text-align: center;
	padding: 50px 0 50px 0;
	color: #434345;
}

.team .row{
	margin : 0px;
}

.team .row .col-xs-6 span{

	font-size: 25px;
	padding: 100px;
	padding-bottom: 15px;

}


#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > .row .col-md-4{

	margin-bottom: 20px;

}


.team .row .col-xs-12 .first a i{
	color: #bfbdbd;
	padding: 5px;
}

.team .row .col-xs-12 .first a i.fa.fa-facebook-official.fa-3x:hover{
	color: #3b5998;
}

.team .row .col-xs-12 .first a i.fa.fa-google-plus-official.fa-3x:hover{
	color: #d34836;
}

.team .row .col-xs-12 .second  {
	position: absolute;
	visibility: hidden;

}





#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(1) > img
{
	height: 100px;
	width: 100px;
}

#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(2) > img
{
	height: 100px;
	width: 100px;
}

#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(3) > img
{
	height: 100px;
	width: 100px;
}
#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(4) > img
{
	height: 100px;
	width: 100px;
}

#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(5) > img
{
	height: 100px;
	width: 100px;
}

#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(6) > img
{
	height: 100px;
	width: 100px;
}

#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(7) > img
{
	height: 100px;
	width: 100px;
}

#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(8) > img
{
	height: 100px;
	width: 100px;
}
#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(9) > img
{
	height: 100px;
	width: 100px;
}
#team > div > div.col-xs-12.col-sm-6.col-md-8 > div.first > div > div:nth-child(10) > img
{
	height: 100px;
	width: 100px;
}


@media (max-width:500px){

	.team{
	width: 100%;
	height:2500px;
	background-color: #eeeeee;

}


.team .row .col-xs-6 span{

	font-size: 20px;
	padding: 50px;
	padding-bottom: 15px;
	text-align: center;
	margin: 0px;
	padding-bottom: 20px;

}

#team > div > div.col-xs-6.col-md-4{

	width: 100%;
	text-align: center;

}



}







/*===================================== Contact Us +++++++++++++++++++++++++++++++*/

.contact{
	width: 100%;
	height:1200px;
	background-color: #0077A2;

	
}

.contact h1{
	margin: 0px;
	text-align: center;
	padding: 50px 0 50px 0px;
	color: #fff;
}

.contact .row {
	margin :0px;
}



.contact .row .col-xs-6{
	text-align: center;
	margin-bottom: 100px;

}

.contact .row .sandeep {

	text-align: center;
	background-color:white;
    width : 150px;
    height : 400px;
    -webkit-border-radius:99px;

}


.contact .row .col-xs-6 .sandeep  span a{
	
	padding: 5px;


}



.contact .row .col-xs-6 .sandeep  span a i .fa.fa-facebook.fa-3x:hover{
	
	color: #3b5998;


}

.contact .row .col-xs-6 .sandeep .circle img{
	margin-top: 0px;	
	 height:150px;
	 width:150px;
	

}


.contact .row .pramod {

	text-align: center;
	background-color:white;
    width : 150px;
    height : 400px;
    -webkit-border-radius:99px;

}



.contact .row .col-xs-6 .pramod .circle img {

		margin-top: 0px;	
	 height:150px;
	 width:150px;

}


.contact .row .col-xs-6 .pramod  span a{
	
	padding: 5px;


}


.contact .row .prabhakar {

	text-align: center;
	background-color:white;
    width : 150px;
    height : 400px;
    -webkit-border-radius:99px;

}

.contact .row .col-xs-6 .prabhakar img {

	  	margin-top: 0px;	
	 height:150px;
	 width:150px;
}


.contact .row .col-xs-6 .prabhakar  span a{
	
	padding: 5px;


}


.contact .row .soman {

	text-align: center;
	background-color:white;
    width : 150px;
    height : 400px;
    -webkit-border-radius:99px;

}

.contact .row .col-xs-6 .soman img {

	margin-top: 0px;	
	 height:150px;
	 width:150px;

}

.contact .row .col-xs-6 .soman  span a{
	
	padding: 5px;


}

					/*--------------------------MAP------------------------------------*/



.contact .row .col-xs-12  iframe{
	margin: 0px;
	height: 400px;
	width: 100%;
}

.contact .col-xs-6 span .bharati {

	text-align: center;
	color: white;

}

body > div.contact > div:nth-child(3) > div.col-xs-6.col-md-4 > span   {

	text-align: center;
	color: white;

}

body > div.contact > div:nth-child(3) > div.col-xs-6.col-md-4 > div.row {
	color: white;
}



.contact .row .col-xs-6.col-md-4 hr {

	border-top: 1px solid #EFF0F1;

}

.contact .col-xs-6 .socialicons {

	padding: 10px;
	
}

.contact .col-xs-6 .socialicons i{
	display: inline-block;
	padding: 15px;

}

.contact .col-xs-6 .socialicons a{
	text-decoration: none;

}



body > div.contact > div > div.col-xs-6.col-md-4 > div.socialicons a {
	color: white;
}


 div.contact > div > div.col-xs-6.col-md-4 > div.socialicons > a > i.fa.fa-facebook.fa-3x:hover{
	color:#3b5998;
}

 div.contact > div > div.col-xs-6.col-md-4 > div.socialicons > a > i.fa.fa-twitter.fa-3x:hover{
	color:#0084b4;
}

 div.contact > div > div.col-xs-6.col-md-4 > div.socialicons > a > i.fa.fa-youtube.fa-3x:hover{
	color:#bb0000;
}



@media (max-width:500px){


.contact .col-xs-6 .socialicons{
	margin: 0px;
	

}

.contact{
	width: 100%;
	height:1950px;
	background-color: #0077A2;

	
}



#contact > div:nth-child(3) > div.col-xs-6.col-md-4{
	width: 100%;
	margin:0px;
	padding: 0px;
}

}

/*===================================== footer +++++++++++++++++++++++++++++++*/

footer{
	padding: 5px;
	font-size:12px;
}


@media (min-width:500px){

footer{
	position: relative;
}

}

